
.results {
    .subscribe{
        background: $gray_200;
        width: 100%;
        max-width: unset;
    }
}

.subscribe{
    padding: 39px 15px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: center;

    @include min-width($medium_size){
        padding: 39px 0;
    }

    h2{
        margin-bottom: 10px;
        @include min-width($medium_size){
            font-size: 20px !important;
        }
    }

    p{
        margin-bottom: 21px;
        font-size: 15px;
        line-height: 20px;
        color: #606060;
        @include min-width($medium_size){
            font-size: 1rem;
            line-height: 24px; 
        }
    }

    form{
        display: flex;
        height: 40px;
        max-width: 390px;
        margin: auto;

        border-radius: 7px;
        overflow: hidden;
        border: 2px solid #777;


        .input-wrapper{
            flex-grow: 1;
            height: 100%;
            min-height: 40px;
            display: flex;
            align-items: center;
            flex-direction: row;
            border-inline-end: none;
            background: #fff;
            padding: 9px;
            padding-inline-start: 1rem;
            transition: transform .3s ease-in-out;

            &:hover{
                transform: scale3d(1.1,1,1);
            }

            input{
                flex: 1;
                display: block;
                padding-inline-start: 6px;
                height:100%;
                border: none;
                outline: none;
            }
        }

        button{
            width: 110px;
            min-width: 110px;
            height: 100%;
            background-color: $primary;
            border: 2px solid $primary;
            border-inline-start: none;
            color: #fff;
        }
    }
}

.order-status-banner {
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    &.processing {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
        
        .spinner {
            width: 16px;
            height: 16px;
            border: 2px solid #856404;
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 0.8s linear infinite;
        }
    }
    
    &.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
    
    &.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
}

button.tripe-button{
    width: 100%;
    max-width: 390px;
    margin: auto;
    height: 40px;
    background-color: $primary;
    border: 2px solid $primary;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #fff;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
