.extra-services{
    margin-bottom: 30px;
    h2{
        margin-bottom: 24px;
    }
    
    .services{

        display: flex;
       flex-wrap: wrap;
        justify-content: space-around;

        gap: 20px;

        article{
            flex: 1;
            height: 100%;
            max-width: 500px;
            min-width: 270px !important;
            cursor: pointer;

            &:has(.cover:hover){
                .body {
                    display: none !important;
                }

                .cover .icon-container h3{
                    display: inline-block !important;
                }

                 .icon-container{
                    width: 100%;
                    right: 0;
                    border-radius: 0;
                    bottom: 0px;
                    justify-content: start;
                    padding-left: 10px;
                   
                }

               .body{
                    br{
                        display: none;
                    }

                    p{
                        text-align: center;
                    }
               }
            }
            
            .cover{
                position: relative;
                width: 100%;
                min-width: 125px;
                height: 120px;

              

                .icon-container{
                    position: absolute;
                    bottom: -20px;
                    right: 7px;
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                    border: 2px solid #eee;
                    border-radius: 50%;
                    transition: all .3s ease-in-out;

                    @include min-width($small_size){
                        bottom: -25px;
                        right: 25px;
                    }

                    h3{
                        display:none;
                        font-size: 14px !important;
                        margin: 0;
                        padding-block: 0;
                        padding-inline: .5rem;
                    }


                }

            }

            .body{
                border: .1px solid #ddd;
                border-top: none;
                padding: 18px 20px;     

                p{
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 250px;
                }
            }

           
        }
    }
}